/* common */
body {
  color : #333;
  font-family: 'Nanum Gothic', sans-serif;
  font-size : 16px;
  font-weight: 400;
  line-height: 1.4;
  height: 3000px;
}
/* img : display:block을 선언해서 baseline을 없애기위함 (밑에 살짝 튀어나온 부분) */
img {
  display: block;
}
a{
  text-decoration: none;
}
/* 모든 inner에 대한 정의 */
.inner {
  width : 1100px;
  margin : 0 auto;
  position : relative;
}
/* 우선순위 10점 */
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor:pointer;
  box-sizing:border-box;
  display:block;
  transition:.4s;
}
.btn:hover { 
  background-color:#333;
  color:#fff;
}
/* 우선순위20점 */
.btn.btn--reverse {
  background-color: #333;
  color:#fff;
}
/* hover시 배경화면은 투명하게(원래로돌아가게) 
우선숨위 30점*/
.btn.btn--reverse:hover {
  background-color: transparent;
  color:#333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover{
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold{
  color:#D9AA8A;
  border-color:#D9AA8A;
}
.btn.btn--gold:hover{
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white{
  color: #fff;
  border-color:#fff;
}
.btn.btn--white:hover{
  color: #333;
  background-color:#fff;
}
/* 투명한 상태 */
.back-to-position{
  opacity:0;
  transition: 1s;
}
/* 왼쪽 > 오른쪽 나타남 */
/* 원래상태로 돌아가는것 : 왼쪽 > 오른쪽 이동하는것 */
.back-to-position.to-right {
  transform : translateX(-150px);
}
/* 오른쪽 > 왼쪽 나타남 */
.back-to-position.to-left{
  transform : translateX(150px);
}
/* show 라는 클래스가 있어야 원래 상태로 다시돌아옴
translateX(0);  */
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  transition-delay:0s;
}
.show .back-to-position.delay-1{
  transition-delay:.3s;
}
.show .back-to-position.delay-2{
  transition-delay:.6s;
}
.show .back-to-position.delay-3{
  transition-delay:.9s;
}



/* header */
header {
  width : 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* position: relative;  fixed가 되면서 부모요소 또한 가능해짐*/
  /* position fixed 시 가로넓이를 최소화 하려고 함 */
  position: fixed;
  top: 0;
  z-index:9;

}

/* header의 자식요소인 inner만 120px 높이!  > = 자식선택자 */
header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu{
  display:flex;
  position: absolute;
  top:10px;
  right:0;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display : flex;
} 

header .sub-menu ul.menu li{
  position:relative;
}

/* position:absolute 의 부모요소는  li 태그이다 
  display: block은 absolute로인해 블록요소가 되었으므로 지워도 된다.*/
header .sub-menu ul.menu li::before{
  content : "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top:0;
  bottom:0;
  margin: auto 0;
}

/* signin 앞쪽 구분선은 필요없으므로 fist-child로 입력해 삭제한다. */
header .sub-menu ul.menu li:first-child::before{
  display:none; 
}

/* a태그는 인라인요소이므로 display;block요소로 바꾸게하자 */
header .sub-menu ul.menu li a{
  font-size:  12px;
  padding: 11px 16px;
  display:block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover{
  color: #000;
}

header .sub-menu .search{
  height:34px;
  position: relative;
}

header .sub-menu .search input{
  width:36px;
  height:34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus{
  width: 190px;
  border-color: #669900 
}

/* height:24px은 material-icon의 font크기와 동일하게 해준다. */
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top:0;
  bottom: 0;
  right:5px;
  margin : auto 0;
  transition: .4s;
}

/* .search.focused는 같이 들어간 class 이므로 붙여서 명시해야한다. 
    일치 선택자임*/
header .sub-menu .search.focused .material-icons{
 opacity:0;
}

/* z-index : 맨오른쪽 광고배너보다 위에올려놓기 위함 */
header .main-menu {
  position:absolute;
  bottom:0;
  right:0;
  z-index: 1;
  display:flex;
}

/* header .main-menu .item {
  
} */

header .main-menu .item .item__name {
  padding : 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* item__name 이름에 커서를대면 contents 또한 바뀌기 떄문에 item에 hover 효과를 넣어주어야 한다. */
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}


/* top이나 bottom 속성을 사용하지 않아 수직위치 값이 없다면 요소의 원래위치를 그대로 사용합니다 */
header .main-menu .item .item__contents {
  width : 100%;
  position : fixed;
  left:0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display:block;
}


header .main-menu .item .item__contents .contents__menu{
  background-color:  #2c2a29;
}

/* contents__menu안에 ul태그가 두개가 있으므로 자식만 콕집어서 특정바로 자식
만 명시해주기위해 */
header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding : 20px 0;
}

header .main-menu .item .item__contents .contents__menu >ul > li{
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu >ul > li h4 {
  padding : 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

/* header .main-menu .item .item__contents .contents__menu >ul > li ul {

} */

header .main-menu .item .item__contents .contents__menu >ul > li ul li{
  padding : 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu >ul > li ul li:hover{
  color:#669900;
}

/* background-image 는기본값이 패턴 repeat이기때문에 명시를 안해주면 패턴이 반복된것처럼 보인다. */
header .main-menu .item .item__contents .contents__texture{
  background-image: url("../images/main_menu_pattern.jpg");
  padding: 26px 0;
  font-size: 12px;
  /* font-size는 상속되므로 아래 h4/p에 적용된다 */
}


header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight:700;

}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin : 4px 0 14px;

}

/* badges */

header .badges {
position : absolute;
top: 132px;
right: 12px;
}

header .badges .badge {
  overflow: hidden;
  border-radius: 10px;
  overflow:hidden;
  margin-bottom:10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}


/* VISUAL CSS */
.visual{
  /* 헤더 높이값 120px */
  margin-top : 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;

}

.visual .inner{
  height: 640px;
}

.visual .title{
  position : absolute;
  top: 88px;
  left:  -10px;
}

/* .title 부모요소 이므로 .title을 기준으로 위에서 259/왼쪽 173에 위치하며 .title 사진을 움직여도 동일하게 움직인다.  */
.visual .title .btn{
  position: absolute;
  top:259px;
  left: 173px;
}


/* .cup1.image = 붙어있으면 일치 선택자 (cup1 image)*/
.visual .cup1.image {
  position : absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {

  position : absolute;
  bottom:0;
  right: 162px;
}


.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;

}
.visual .spoon{
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in{
  opacity:0;
}


/* NOTICE */
/* inner부분 부모속성에 height 속성이없어서 최대한 줄어들려다가
inner의 값에 걸려서 62px로 고정된것 */
/* .notice {

} */
.notice .notice-line{
  position:relative;
}
.notice .notice-line .bg-left{
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  background-color: #333;
}
.notice .notice-line .bg-right{
  position:absolute;
  top:0;
  right:0;
  width:50%;
  height:100%;
  background-color: #f6f5f0;
}
/* .inner__left값과 .inner__right값이 수평이되기 위해선
display:flex를 선언해야한다. */
.notice .notice-line .inner{
  height: 62px;
  display:flex;
}

.notice .notice-line .inner__left {
  width: 60%;
  height:100%;
  background-color:#333;
  display:flex;
  align-items: center;
}

.notice .notice-line .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a{  
  color: #fff
  
}
.notice .notice-line .inner__left .notice-line__more{
  width: 62px;
  height: 62px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons{
  color:#fff;
  font-size:30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2{
 font-size: 17px;
 font-weight:700;
}

.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items:center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

/* .hide 시 overflow 되는 값들은 없애보여야한다. */
.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position:relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide{
  height:0;
}

/* 이미지 3개에 여백 10px 2개 */
/* margin-left = - (width 값의 반토막) 음수사용해서 땡겨오기*/
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position:absolute;
  top:40px;
  left:50%;
  margin-left: calc((819px * 3 + 20px)/-2);
  /* margin-left: -1238.5px; */
}

.notice .promotion .swiper-slide{
  opacity:.5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active{
  opacity: 1;
}


/* btn 가로넓이는 맨위 common에 같이 명시해 따로 명시할 필요가 없습니다. */
.notice .promotion .swiper-slide .btn{
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
}

.notice .promotion .swiper-pagination{
  bottom: 40px;
  left:0;
  right: 0;
}

.notice .promotion .swiper-pagination-bullet{
  background-color:transparent;
  background-image: url('../images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right:6px;
  outline: none;
}

/* 마지막 버튼은 마진 6px 필요없으므로 0으로 다시설정 */
.notice .promotion .swiper-pagination-bullet:last-child{
  margin-right: 0;
}


.notice .promotion .swiper-pagination-bullet-active{
  background-image: url('../images/promotion_slide_pager_on.png');
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index:1;
  cursor:pointer;
  outline: none;
  display:flex;
  align-items:center;
  justify-content: center;
  transition: .4s;
}

.notice .promotion .swiper-prev{
  left:50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next{
  right:50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
  background-color: #333;
  color:#ffff;
}



/* REWARDS */
.rewards {
  position:relative;
}
.rewards .bg-left{
  background-color: #272727;
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
.rewards .bg-right{
  background-color: #d5c798;
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
}
.rewards .inner{
  display:flex;
  background-image: url('../images/rewards.jpg');
  height: 241px;
}

/* 맨위에 btn 공용설정을 130px으로 해놨기때문에
두개가 260이라 wrap되면서 하나밖에 안된다 따라서 btn크기를 각각 또 조절할 것이다. */
.rewards .btn-group{
  position:absolute;
  right: 0px;
  bottom: 24px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up{
  margin-right:10px
}
.rewards .btn-group .btn.sign-in{
  width: 110px;
}
/* flex-container에서 최대한의 너비를 쓸 수 있게 하라
flex-grow 사용 */
.rewards .btn-group .btn.gift{
  margin-top:10px;
  flex-grow:1;
}

.youtube{
  position:relative;
  height:700px;
  background-color: #333;
  overflow:hidden;
}
.youtube .youtube__area{
  width: 1920px;
  position:absolute;
  top:50%;
  left:50%; 
  margin-left: calc(1920px / -2); 
  margin-top: calc(1920px*9/16/-2);
}
/* 인라인요소 > block */
/*  youtube__area: container이므로
::before 가상요소를 만들어 display:block을 만들어준다.
       ㅍ */
.youtube .youtube__area::before{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover{
  background-image: url('../images/video_cover_pattern.png');
  background-color: rgba(0,0,0,.3);
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#player{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
/* 부모요소에 inner는 이미 common에 정의 되어있다 */
.youtube .inner{
  height:700px;
}
.youtube .floating1{
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2{
  position: absolute;
  top: 350px;
  left: 150px;
}


/* SEASON PRODUCT */

.season-product{
  position:relative;
  background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner{
  height:400px;
}
.season-product .floating3{
  position: absolute;
  top: -200px;
  right: 0;

}
.season-product .text-group{
  position: absolute;
  top:110px;
  right:100px;

}
.season-product .text-group .title{
  margin-bottom:10px;

}
.season-product .text-group .description{

  margin-bottom:10px;
}
.season-product .text-group .more{

}


/* RESERVE_COFFEE */
.reserve-coffee{
  background-image:url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner{
  height:400px;
}
.reserve-coffee .reserve-logo{
  position:absolute;
  top:110px;
  left:0;
}
.reserve-coffee .text-group{
  position:absolute;
  top:124px;
  left:208px;
}
.reserve-coffee .product{
  position:absolute;
  top:0;
  right:0; 
}


/* PICK YOUR FAVORITE */
.pick-your-favorite{
  background-image : url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* 스크롤시 이미지 고정 */
  background-attachment: fixed;
  background-size:cover; 

}
.pick-your-favorite .inner{
  padding: 110px 0;
  
}
.pick-your-favorite .text-group{
  display: flex;
  width: 362px;
  flex-wrap:wrap;
  justify-content: flex-end;
  margin-left:100px
}
.pick-your-favorite .text-group .title{
  margin-bottom: 40px;

}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}
.pick-your-favorite .more{

}

/* RESERVE STORE */

.reserve-store{
  background-image : url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* 스크롤시 이미지 고정 */
  background-attachment: fixed;
  background-size:cover; 

}
.reserve-store .inner{
  height: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
}  


/* MEDAL */

.reserve-store .medal{
  width: 334px;
  height:334px;
  perspective:600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back{
  width: 334px;
  height:334px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}

.reserve-store .medal .front{
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front{
  transform: rotateY(180deg);
}
/* back뒷면을 180도 돌려 뒤로 보내고 hidden을 통해 숨겨져있는 상황 */
.reserve-store .medal .back{
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back{
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn{
  position: absolute;
  top: 230px;
  left:0;
  right:0;
  margin:auto;
}



.find-store {
  background-image: url('../images/find_store_bg.jpg');
}
.find-store .inner {
  height: 400px;  
}
.find-store .texture1 {
  position: absolute;
  top:0;
  left:400px;
}
.find-store .texture2 {
  position:absolute;
  bottom:0;
  right:0;
}
.find-store .picture {
  position:absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5)
}
.find-store .picture1{
  top:-60px;
  left:0;

}
.find-store .picture2{
  top:150px;
  left:250px; 
}
.find-store .text-group{
  position: absolute;
  top: 120px;
  left:550px;   
}
.find-store .text-group .title{
  margin-bottom:20px;
}
.find-store .text-group .description{
  margin-bottom:20px;
}



/* awards */

.awards {
  background-color: #272727;
}
.awards .inner{
  padding: 40px 0;
}
.awards .swiper{
  width: 100%;
  height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next{
  width:42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline : none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:0;
  bottom:0;
  margin: auto;
}
.awards .swiper-prev{
  left: -100px;
}
.awards .swiper-next{
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover{
  background-color: #fff;
  color: #333;
}



footer {
  background-color:#272727;
  border-top: 1px solid #333;

}
footer .inner{
  padding: 40px 0 60px 0;
  
}
footer .menu{
 display: flex;
 justify-content: center;
}
footer .menu li{
  position: relative;

}
/* position:absolute; */
footer .menu li::before{
  content:"";
  width:3px;
  height:3px;
  background-color: #555;
  position:absolute;
  top:0;
  bottom:0;
  margin: auto;
}
footer .menu li:first-child::before{
  display: none;
}
/* 인라인 요소이므로 padding을 제대로 쓰려면 display:block을 해줘야한다. */
footer .menu li a{
  color: #ccc;
  font-size:12px;
  font-weight:700;
  padding: 15px;
  display:block;
}
footer .menu li a.green{
  color: #669900;
}
footer .btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn{
  font-size:12px;
  margin-right:10px;
}
footer .btn-group .btn:last-child{
  margin-right:0;
}

footer .info{
  margin-top:30px;
  text-align:center;
}
/* 인라인요소 오른쪽 수평으로 쌓임 display:flex필요없음 */
footer .info span{
  margin-right:20px;
  color:#999;
  font-size:12px;
}
footer .info span:last-child{
  margin-right: 0;
}
footer .copyright{
  color: #999;
  font-size:12px;
  text-align:center;
  margin-top:12px;
}
/* 가로넓이를 입력하지 않아도 자동 가운데 정렬
why? logo라는 태그는 image태그로 브라우저에서는 
display:block인 경우 가로값을 이미 알고있다 */
footer .logo{
  margin: 30px auto 0;
}


#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color:#fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  bottom: 30px;
  right:30px;
  z-index:9;
}
